{% extends "base.html" %}
{% block body %}


    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Points de mesures</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">

        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">

                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>POD</th>
                                    <th>Nom</th>
                                    <th>Adresse</th>
                                    <th>Ville</th>
                                    <th>Modifier</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for m in meters %}
                                    <tr>
                                        <td><a href="/meter/{{ m.pod }}">{{ m.pod }}</a> </td>
                                        <td>{{ m.name }}</td>
                                        <td>{{ m.address }}</td>
                                        <td>{{ m.city }}</td>
                                        <td align="center"><a href="/admin/edit_pod_meter/{{ m.pod }}"> <i class="menu-icon fa fa-edit"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->

    </div>

{% endblock %}
