<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/static/apple-icon.png">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/vendors/jqvmap/dist/jqvmap.min.css">


    <link rel="stylesheet" href="/static/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

{% if session['logged_in'] %}
        <p>You're logged in already!</p>
    {% else %}
        <div class="login-page">
            <div class="form">
                        <h3>Login</h3>

                <form class="login-form" action="/login/" method="POST">
                    <input class="form-control" type="username" name="username" placeholder="Username" value="config">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                    <input type="submit" class="btn btn-primary btn-block" value="Log in">
                </form>
            </div>
        </div>


    {% endif %}

    <style>

        .login-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }
        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            border: 1px solid #ddd;
        }

        }
    </style>

</body>

</html>
